.DS_Store
Sierpinski-Carpets/models/STLs/Sierpinski_Carpet_7.stl
Sierpinski-Carpets/models/STLs/Sierpinski_Carpet_7_thin.stl
**/*_local*
Menger-Sponges/models/STLs/Menger_Sponge_Lvl_5.STL
Sierpinski-Carpets/models/DXFs/Sierpinski_Carpet_8.dxf
Sierpinski-Carpets/models/SVGs/Sierpinski8.svg
